@import './../../constants/colors.scss';
@import './../../Constants/fonts.scss';

.top-bar {
  height: 80px;
  width: 100%;
  background-color: $primary-green;
  display: flex;

  &__profile {
    position: fixed;
    right: 20px;
  }

  &__logo {
    width: 60px;
    height: 60px;
    margin: 10px;
  }

  &__items {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}