$primary-green: #3c9d25;
$secondary-green: #70a81d;
$tertiary-green: #90b21b;
$primary-yellow: #f1de61;
$secondary-yellow: #edd015;
$tertiary-yellow: #cec617;
$primary-background: #f1de61;
$dark: #211a1a;
$grey: #babdb9;
$light-grey: #dadbda;
$light: #f6f0f0;
$locate-center: #f7024c;
$locate-user: #000056;
$link: #3737df;
$orange: #f76c02;
$asterisk: #e80909     