@import './../../Constants/colors.scss';
@import './../../Constants/fonts.scss';

.inputBox{
  height: 45px;
  
  &__input{
    width: 345px;
    height: 45px;
    padding-left: 55px;
    font-family: $Blinker;
    background-color: $light;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-color: rgba(32,32,32, 0.3);
    box-shadow: 3px 5px 10px rgba(32,32,32, 0.5);
    font-size: 20px;
    position: relative;
    padding-right: -55px;
  }

  &__input2{
    margin-top: 40px;
    width: 345px;
    height: 45px;
    padding-left: 55px;
    font-family: $Blinker;
    background-color: $light;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-color: rgba(32,32,32, 0.3);
    box-shadow: 3px 5px 10px rgba(32,32,32, 0.5);
    font-size: 20px;
    position: relative;
  }

  &__icon {
    position: relative;
    top: -40px;
    z-index: 3;
    left: 15px;
  }

  &__asterisk {
    z-index: 2;
    position: relative;
    top: 50px;
    font-size: 30px;
    left: 375px;
    font-family: $Blinker;
    color: $asterisk;
  }
}
